.left {
    float: left;   
}

.right {
    float: right;
}

div, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    pointer-events: all;
    color: #9658AC;
    cursor: pointer;
}

a:hover {
    color: #6b1c88;
    text-decoration: underline;
}

/* =============== REGISTER PAGE ===================== */
.bombastAccountModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(50,50,50,0.5);
    text-align: center;
}

.bombastAccountModalOverlay:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.bombastAccountModalDialog {
    display: inline-block;
    width:400px;
    min-height: 300px;
    border: 1px solid #e2e3e4;
    border-radius: 10px;
    padding: 30px 30px 30px;
    margin: 50px 0 10px;
    vertical-align: middle;
    z-index: 10001;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: rgba(50,50,50,0.5) 0px 6px 10px 0px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.bombastAccountModalDialog .subheading {
    font-size: 18px;
    font-weight: bold;
    color: #313131;    
}

.bombastAccountFormContainer .textField {
    position: relative;
    margin-bottom: 20px;
}

.bombastAccountFormContainer .textField>label {
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #a9aaaa;
    text-transform: uppercase;
}

.bombastAccountFormContainer .textField>input[type="text"],
.bombastAccountFormContainer .textField>input[type="password"] {
    width: 100%;
    height: 66px;
    padding-top: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    color: #313131;
    box-sizing: border-box;
    text-align: left;
}

.bombastAccountFormContainer .textField>input[type="text"]:focus,
.bombastAccountFormContainer .textField>input[type="password"]:focus {
    border: 1px solid #00adef;
}

.bombastAccountFormContainer input.fieldValidationError {
    border: 1px solid #991b1e !important;
}

.bombastAccountModalDialog .fieldValidationError {
    color: #991b1e;
    text-align: left;
    font-size: 12px;
}

.button {
    width: 100%;
    padding: 0 20px;
    clear: both;
    box-sizing: border-box;
}

.bombastAccountFormContainer input[type="submit"] {
    display: block;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: #6b1c88;
    color: #fefefe;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

.bombastAccountFormContainer input[type="submit"].disabled {
    background-color: #aaabaa;
}

body, input, select, textarea {
    font-family: Lato, Arial, Helvetica, sans-serif
}

.bombastAccountModalDialog .signInRedirect {
    margin-top: 24px;
    text-align: center;
}

.bombastAccountModalDialog .signInRedirect span {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.bombastAccountModalDialog a {
    color: #9658AC;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.bombastAccountModalDialog a:hover {
    text-decoration: underline;
}

/* =============== LOGIN PAGE ===================== */
.rememberMeCheckContainer .checkContainer {
    margin: 12px 0 24px 0;
}

.loginResetPass {
    margin: 12px 0 24px 0;
}

/*======================= DASHBOARD =================*/
.account-management {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.account-info {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    overflow-y: hidden;
    max-width: 1240px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.profile-img {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66666%;
}

.profile-img span {
    display: block;
    margin: 0 auto;
    background-image: url('https://cdn1.unrealengine.com/2948085/logo-epic-5f523206930e3d5f894cef1e1ac9080e.svg');
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}

.profile-info {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
    margin-top: 20px;
}

.profile-info .personal {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 41.6666%;
}

.profile-info li {
    font-size: 16px;
    line-height: 22px;
}

.account-management-content {
    line-height: 1.5;
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
}

.account-management-content > section {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    overflow-y: hidden;
    margin-top: 40px;
}

.account-management-content .container {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.home-download {
    width: 30%;
    min-height: 200px;
    margin-right: 3%;
    float: left;
    padding: 20px;
    background-color: white;
    border: 1px solid #aaabaa;
    border-radius: 10px;
}

.bombast-launcher {
    text-align: center;
}

.bombast-launcher h1.download {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-transform: none;
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
}

.home-download a.btn-a {
    margin-top: 10px;
}

.home-download a.btn-a:before {
    content: "";
    background-image: url(/img/dl-icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 35px;
    height: 17px;
    display: inline-block;
    margin-left: -20px;
}

.account .btn-a {
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    background: #9658AC;
    color: white;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
}

.account .btn-a:hover {
    text-decoration: none;
    background: #6b1c88;
}